* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #0b2434;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background: #f5f5f5;
  padding: 30px 20px;
  height: 400px;
  width: 80vb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.dieContainer {
  display: grid;
  grid-template: auto auto/repeat(5, 1fr);
  gap: 20px;
}
button {
  color: white;
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  font-family: "Karla";
  font-weight: 700;
  background: #5035ff;
  border-radius: 3.81277px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:active {
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.5);
}

.box {
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.number {
  color: #2b283a;
  font-size: 1.5rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
}
